.contactContainer{
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start;
    align-items: flex-start;
   
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    gap: 3rem;
    
}

.contactContainer img{
    width: 400px;
    border-radius: 10px;
}

.infoContainer{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.infoContainer li:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #ddd;
    margin-right: 10px;
   }

