.container{
    width: 100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 2.5rem;

}

.navContainer{
    align-self: flex-start;
    margin-left: 2rem;
}

.navContainer, .childrenContainer{
    padding: 0 20%;
}

.childrenContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
}