.container{
    flex: 1;

    cursor: pointer;
}

.imageCard{
    width: 250px;
    border-radius: 12px;

    transition: 400ms;
}

.container:hover > .imageCard{
    transform: scale(1.05);
}

.title{
    text-transform: capitalize;
}

@media only screen and (max-width: 1296px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}