.container{
    margin-bottom: 1rem;
}

.container ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.btnLink{
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #000;
    background: #eee;
    border-radius: 4px;
    font-weight: 700;
}

:global(.active),
.btnLink:hover{
    background: #ddd;
}